.hero-image {
  background-color: #212529;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('/img/Gemini_Generated_Image_cttjancttjancttj\ 1.png');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 400px; 
}